---
import type { RevisionInfo } from "./revision/types";
import RevisionTags from "./revision/RevisionTags.astro";

interface Props extends RevisionInfo {
  noborder?: boolean;
}

const { noborder } = Astro.props;
---

<span class:list={["revision", { noborder }]}>
  <slot />
  <RevisionTags as="span" {...Astro.props} />
</span>

<style>
  .revision:not(.noborder) {
    border: 1px solid var(--sl-color-gray-4);
    padding: 2px;
    border-radius: 4px;
  }

  .revision > .revision-tag {
    font-size: var(--cppdoc-font-size-revision);
    color: var(--cppdoc-color-revision);
  }
</style>
