---
import type { RevisionInfo } from "./revision/types";
import RevisionTags from "./revision/RevisionTags.astro";

interface Props extends RevisionInfo {
  noborder?: boolean;
}

const { noborder } = Astro.props;
---

<div class:list={["revision", { noborder }]}>
  <div class="revision-content">
    <slot />
  </div>
  <div class="revision-tags">
    <RevisionTags as="div" {...Astro.props} />
  </div>
</div>

<style>
  .revision {
    display: flex;
    align-items: center;
    column-gap: 1em;
  }

  .revision:not(.noborder) {
    border: 1px solid var(--sl-color-gray-4);
    padding-left: calc(var(--sl-content-gap-y) * 0.5);
    padding-right: calc(var(--sl-content-gap-y) * 0.5);
    padding-top: calc(var(--sl-content-gap-y) * 0.25);
    padding-bottom: calc(var(--sl-content-gap-y) * 0.25);
  }

  .revision > .revision-content {
    flex-grow: 1;
  }

  .revision > .revision-tags {
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 0;
  }

  .revision .revision-tag {
    font-size: var(--cppdoc-font-size-revision);
    color: var(--cppdoc-color-revision);
    margin: 0;
  }
</style>
